@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Noto Serif Bengali', serif;
    font-family: 'Hind Siliguri', sans-serif;
}
body {
    header {
        margin-top: 40px;

        .header_pic {
            text-align: center;
            .passport {

                    border: 1px solid #000;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p { 
                        text-align: center;
                    }
                
            }
            .student_gender {
                border: 1px solid #000;
                margin-top: 10px;
                padding: 2px;
            }
        }
        .logo_heading {
            display: flex;
            align-items: center;
        }
        .logo {
            img {
                width: 100%;
            }
        }
        .heading {

            h1 {
                font-size: 36px;
            }
        }
        .school_madrasa {
            .check_school {
                
                p {
                    border: 1px solid #000;
                    margin-bottom: 0 !important;
                    padding: 5px 8px;
                    font-weight: bold;
                }
            }
            .school_madrasa_item {
                border: 1px solid #000;
                border-top: none;
                padding: 5px 8px;
            }
        }
        .reg {
            text-align: center;

            h3 {
                background-color: #00A94E;
                border-radius: 30px;
                padding: 8px 25px;
                color: white;
                display: inline-block;
                font-size: 20px;
            }
        }
        .office_fill_container {
            border: 1px solid #000;
            padding: 5px 15px;
            position: relative;
            text-align: center;
            h5 {
                position: relative;
                text-align: center;
                background-color: white;
                display: inline-block;
                border: 1px solid black;
                padding: 5px;
                color: #00A94E;
            }
            .office_fill {
                
            }
        }
    }
    .form_fill_up {
        margin-top: 30px;
    }
}